
body, html, #app {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  touch-action: none;
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: none;
}

#canvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  filter: invert(1);
}

p {
  position: relative;
  z-index: 10;
  font-size: clamp(60px, 15vw, 300px);
  color: transparent;
  -webkit-text-stroke: 2px #7D7D7D;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: -0.02em;
}
